:root{
    --color-sunners: #BB3615;
    --color-dark: #252627;
    --color-light: #fff;
    --nav-size:10vh;
}

*{
    margin: 0;
    border: 0;
}

body{
    color: var(--color-dark);
}

/*Elementos HTML*/

span{
    color: var(--color-sunners);
    font-weight: bold;
}

h2{
    color: var(--color-sunners);
    font-weight: bold;
}

/*NAVBAR*/
nav{
    min-height: var(--nav-size);
}
.nav-scrolled{
    background-color: var(--color-light);
    transition: background-color 0.2s ease-in-out;
}

li a{
    text-decoration: none;
    color: var(--color-sunners); 
}
li a:hover{
    color: var(--color-dark);
}

.contactButton{
    background-color: var(--color-sunners);
    color: #fff;
    border-radius: 7px;
}
.contactButton:hover{
    background-color: var(--color-dark);
    color: var(--color-light);
    transition: background-color 0.4s ease-in-out;
}

/*MAIN*/
/*Portada*/
#inicio{
    padding-top: var(--nav-size);
    min-height: 85vh;
    display: flex;
    justify-content:center ;
    align-items: center;
    background-image:linear-gradient(#00000015, #00000010, #0000, var(--color-light)),url(/multimedia/portada-panales.jpeg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.portada{
    background-color: var(--color-light);
    border-radius: 10px;
    min-height: 30vh;
    max-width: 70vh;
    padding: 3%;
}

#inicio img{
    width: 100vh;
    height:max-content;
}

/*Seccion Intalaciones*/
.card-title{
    color: var(--color-sunners);
    font-weight: bold;
}

.card-text{
    color: var(--color-dark);
}

.card:hover{
    transform: scale(0.95);
    background-color: #BB361530; /*pongo el color d fondo de la tarjeta al seleccionarse algo tranparente*/
    cursor: pointer;
}

.card:hover img{
    opacity: 0.8;
}

/*Seccion About us*/
ul{
    list-style: none;
    list-style-image: url(/multimedia/Sunners\ logo\ simple\ small.png);
    list-style-position: outside;
}